.mainWrapper {
    display: flex;
    align-content: flex-start;
    border-radius: 30px;
    background-color: dodgerblue;
    flex-direction: column;


    padding: 10px 10px 10px 10px;
    /*transition: visibility 0.7s ease;*/
    /*box-shadow: 20px 25px 50px rgba(92, 237, 217);*/ /* вариант смещенной вниз-вправо подсветки */
    box-shadow: 0px 0px 30px rgb(30, 144, 255); /* вариант рассеивающейся по центру подсветки */
    /*z-index: 2147483647*/
}